Q.1 Take the input as email id int the format Firstname.lastname@gmail.com
and extract 
First Name
Last Name
Domain: gmail.com

In [5]:
emailid=input("Enter email id")
print(emailid)

tempstr=emailid.split('@')
name=tempstr[0].split('.')
print('First Name:',name[0])
print('Last Name:',name[1])
print('Domain:',tempstr[1])

Enter email idmadhu.khoje@gmail.com
madhu.khoje@gmail.com
First Name: madhu
Last Name: khoje
Domain: gmail.com

Q.2 Accept name,class, english, maths, science and computer marks, calculate avg and print grade accoredingly

In [6]:
name = input("Enter Student Name : ")
eng = int(input("Enter English Marks : "))
maths = int(input("Enter maths Marks : "))
science = int(input("Enter science Marks : "))
computer = int(input("Enter computer Marks : "))

tot = (eng+maths+science+computer)
avg = tot/4

if avg>=80:
    grade = "A Grade"
elif avg>=70 and avg<80:
    grade = "B Grade"
elif avg>=60 and avg<70:
    grade = "C Grade"
else:
    grade = "Fail"

print("Output")
print("Name : ", name)
print("English : ", eng)
print("Maths : ", maths)
print("Science : ", science)
print("Computer : ", computer)
print("Total : ", tot)
print("Average : ", avg)
print("Grade : ",grade)

Enter Student Name : Madhu
Enter English Marks : 76
Enter maths Marks : 89
Enter science Marks : 98
Enter computer Marks : 87
Output
Name :  Madhu
English :  76
Maths :  89
Science :  98
Computer :  87
Total :  350
Average :  87.5
Grade :  A Grade

Q.3 Accept Employee name, Designation, Experience and salary and  calculate hike in salary according to given conditions.

In [7]:
name = input("Enter Employee Name : ")
deg = input("Enter Designation : ")
exp = int(input("Enter Employee Experience : "))
sal = int(input("Enter Employee Salary : "))

if deg=="PM":
    if exp>=15:
        hike = (sal*20)/100
    elif exp>=10:
        hike = (sal*15)/100
    else:
        hike = (sal*12)/100
elif deg == "TM":
    if exp>=15:
        hike = (sal*22)/100
    elif exp>=10:
        hike = (sal*18)/100
    else:
        hike = (sal*15)/100
elif deg == "DEV":
    if exp>=10:
        hike = (sal*18)/100
    elif exp>=8:
        hike = (sal*14)/100
    else:
        hike = (sal*10)/100
else:
    hike = (sal*10)/100
    

print("Output")
print("Employee Name : ", name)
print("Employee Designation : ", deg)
print("Employee Experience : ", exp)
print("Employee Salary : ", sal)
print("Hike got in new Salary : ", hike)

Enter Employee Name : Satish
Enter Designation : TM
Enter Employee Experience : 14
Enter Employee Salary : 30000
Output
Employee Name :  Satish
Employee Designation :  TM
Employee Experience :  14
Employee Salary :  30000
Hike got in new Salary :  5400.0